[data-navbar="light"] {
  .navbar,.footer {
    @apply text-gray-900;
    @apply bg-white border-gray-100;
    .navbar-search {
      input {
      @apply bg-gray-100 border-gray-100;
      }
    }
  }
}

[data-navbar="dark"] {
  .navbar,.footer {
    @apply text-white;
    background: color(theme('colors.black') tint(5%));
    border-color: color(theme('colors.black') tint(5%));
    .navbar-search {
      input {
        background: color(theme('colors.black') tint(5%));
        border-color: color(theme('colors.black') tint(5%));
      }
    }
  }
}
