[data-navbar="light"] {
  .navbar,.footer {
    @apply text-slate-900;
    @apply bg-white border-slate-100;
    .navbar-search {
      input {
      @apply bg-slate-100 border-slate-100;
      }
    }
  }
}

[data-navbar="dark"] {
  .navbar,.footer {
    @apply text-white;
    background: color(theme('colors.black') tint(0%));
    border-color: color(theme('colors.black') tint(0%));
    .navbar-search {
      input {
        background: color(theme('colors.slate.900'));
        border-color: color(theme('colors.slate.900'));
      }
    }
  }
}
