@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

code {
  @apply font-mono p-1 inline rounded font-semibold;
}
pre {
  @apply font-mono p-2 block rounded font-semibold;
  @apply whitespace-pre-wrap;
}

ul {
  @apply list-none;
}

*,
input,
select,
textarea,
option,
button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  @apply font-sans antialiased text-sm;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

[data-background="light"] {
  @apply text-gray-900;
  code,
  pre {
    @apply bg-gray-100;
  }
}

[data-background="dark"] {
  @apply text-white;
  code,
  pre {
    @apply bg-gray-800;
  }
}
.link {
  @apply text-blue-500;
}

.ring-red {
  box-shadow: 0 0 0 3px theme("colors.red.300");
}
.ring-green {
  box-shadow: 0 0 0 3px theme("colors.green.300");
}
.ring-white {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.ring-black {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-icons {
  vertical-align: middle;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}

.string-value {
  @apply break-all;
}

.recharts-cartesian-axis-tick-value {
  @apply fill-current text-gray-900 dark:text-white text-3xs sm:text-sm md:text-sm lg:text-sm xl:text-sm font-medium;
}

.mobile-hidden-x .recharts-cartesian-axis-tick-value {
  @apply hidden sm:block;
}

.text-3xs {
  font-size: .5rem;
}

.text-2xs {
  font-size: .65rem;
}

.recharts-label {
  @apply font-mono text-2xs sm:text-xs md:text-sm lg:text-sm xl:text-sm font-semibold;
}

.font-default .recharts-label {
  @apply font-sans;
}

.recharts-label-list text tspan {
  @apply text-3xs sm:text-xs md:text-xs lg:text-xs xl:text-xs;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#modal-network,
#modal-asset {
  .show {
    animation-duration: 0.1s !important;
  }
}
