@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700,800,900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif !important;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*@apply font-sans;*/
}

code {
  @apply font-mono p-1 inline rounded font-semibold;
}
pre {
  @apply font-mono p-2 block rounded font-semibold;
  @apply whitespace-pre-wrap;
}

ul {
  @apply list-none;
}

*,
input,
select,
textarea,
option,
button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

/**
 * hide scrollbars
 */
/*::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}*/
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  @apply /*font-sans */antialiased text-sm disable-scrollbars;
}

[data-background="light"] {
  @apply text-slate-900;
  code,
  pre {
    @apply bg-slate-100;
  }
}

[data-background="dark"] {
  @apply text-white;
  code,
  pre {
    @apply bg-slate-800;
  }
}
.link {
  @apply text-blue-500;
}

.ring-red {
  box-shadow: 0 0 0 3px theme("colors.red.300");
}
.ring-green {
  box-shadow: 0 0 0 3px theme("colors.green.300");
}
.ring-white {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.ring-black {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-icons {
  vertical-align: middle;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}

.string-value {
  @apply break-all;
}

.recharts-cartesian-axis-tick-value {
  @apply fill-current text-slate-900 dark:text-white text-3xs sm:text-sm md:text-sm lg:text-sm xl:text-sm font-medium;
}

.mobile-hidden-x .recharts-cartesian-axis-tick-value {
  @apply hidden sm:block;
}

.small-x .recharts-cartesian-axis-tick-value {
  font-size: .65rem !important;
}

.recharts-label {
  @apply font-mono text-2xs sm:text-xs md:text-sm lg:text-sm xl:text-sm font-semibold;
}

.font-default .recharts-label {
  @apply font-sans;
}

.recharts-label-list text tspan {
  @apply text-3xs sm:text-xs md:text-xs lg:text-xs xl:text-xs;
}

.w-68 {
  width: 17rem;
}

.w-70 {
  width: 17.5rem;
}

.max-w-8xl {
  max-width: 88rem;
}

.max-w-6\.5xl {
  max-width: 76rem;
}

.h-0\.25 {
  height: 0.08rem !important;
}

.h-84 {
  height: 21rem !important;
}

.h-88 {
  height: 23rem !important;
}

.h-92 {
  height: 23.5rem !important;
}

.h-100 {
  height: 24.5rem !important;
}

.h-104 {
  height: 25rem !important;
}

.h-108 {
  height: 25.5rem !important;
}

.h-128 {
  height: 28rem !important;
}

.h-168 {
  height: 32rem !important;
}

.h-188 {
  height: 34rem !important;
}

.h-208 {
  height: 36rem !important;
}

.text-2xs {
  font-size: .65rem;
}

.text-3xs {
  font-size: .5rem;
}

.mt-0\.25 {
  margin-top: 0.0625rem;
}

.mt-5\.5 {
  margin-top: 1.375rem;
}

.p-4\.5 {
  padding: 1.125rem !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main {
  @apply bg-white dark:bg-black;
}

#modal-chains,
#modal-assets {
  .show {
    animation-duration: 0.1s !important;
  }
}

.min-h-screen {
  min-height: calc(100vh - 168px) !important;
}

a {
  .underline {
    text-decoration-line: underline;
  }
}

.dark .dark\:bg-slate-900,
.dark .dark\:bg-slate-800,
.dark .dark\:bg-slate-700 {
/* --tw-bg-opacity: .66 !important; */
}

.modal {
  div {
    .dark\:bg-slate-900,
    .dark\:bg-slate-800,
    .dark\:bg-slate-700 {
      --tw-bg-opacity: 1 !important;
    }
  }
}

.backdrop-blur-8 {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.backdrop-blur-16 {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.alert-box {
  .transition-all {
    @apply relative right-0 ml-auto;

    svg {
      @apply w-5 h-5;
    }
  }
}

.status-message a {
  @apply text-blue-500 dark:text-blue-600;
}
